:root{
    --color-bakcground:#00030C;
    --color-text:#FFFFFF;
    --color-text-second: #C0C0C0;
    --color-botton:#167BF7;
}
*{
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--color-bakcground);
    color: var(--color-text);  
}

.main {
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
}
