:root{
    --color-bakcground:#00030C;
    --white-main:#FFFFFF;
    --color-text-second: #C0C0C0;
    --color-button:#167BF7;
}
*{
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--color-bakcground);
    color: var(--white-main);  
}

.main {
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
}

.container__button {
    color: var(--white-main);
    background-color: var(--color-button);
    padding: 1em;
    border-radius: 5px;
    display: block
}